<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.vishal.wordsuperiorityeffect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity2" />
        <activity android:name=".Activity3" />
        <activity android:name=".Activity4" />
        <activity android:name=".Activity2_1" />
        <activity android:name=".Activity2_2" />
        <activity android:name=".Activity2_3" />
        <activity android:name=".Activity2_4" />
        <activity android:name=".Activity2_5" />
        <activity android:name=".Activity2_6" />
        <activity android:name=".Activity2_7" />
        <activity android:name=".Activity2_8" />
        <activity android:name=".Activity3_1" />
        <activity android:name=".Activity3_2" />
        <activity android:name=".Activity3_3" />
        <activity android:name=".Activity3_4" />
        <activity android:name=".Activity3_5" />
        <activity android:name=".Activity3_6" />
        <activity android:name=".Activity3_7" />
        <activity android:name=".Activity3_8" />
        <activity android:name=".Activity4_1" />
        <activity android:name=".Activity4_2" />
        <activity android:name=".Activity4_3" />
        <activity android:name=".Activity4_4" />
        <activity android:name=".Activity4_5" />
        <activity android:name=".Activity4_6" />
        <activity android:name=".Activity4_7" />
        <activity android:name=".Activity4_8" />
        <activity android:name=".Score" />
        <activity android:name=".Activity2_9" />
        <activity android:name=".Activity2_10" />
        <activity android:name=".Activity2_11" />
        <activity android:name=".Activity2_12" />
        <activity android:name=".Activity2_13" />
        <activity android:name=".Activity2_14" />
        <activity android:name=".Activity2_15" />
        <activity android:name=".Activity2_16" />
        <activity android:name=".Activity2_17" />
        <activity android:name=".Activity2_18" />

        <activity android:name=".Activity3_11" />
        <activity android:name=".Activity3_12" />
        <activity android:name=".Activity3_13" />
        <activity android:name=".Activity3_14" />
        <activity android:name=".Activity3_15" />
        <activity android:name=".Activity3_16" />
        <activity android:name=".Activity3_17" />
        <activity android:name=".Activity3_18" />
        <activity android:name=".Activity3_9" />
        <activity android:name=".Activity3_10" />
        <activity android:name=".Activity4_9" />
        <activity android:name=".Activity4_10" />
        <activity android:name=".Activity4_11" />
        <activity android:name=".Activity4_12" />
        <activity android:name=".Activity4_13"/>
        <activity android:name=".Activity4_14"/>
        <activity android:name=".Activity4_15"/>
        <activity android:name=".Activity4_16"/>
        <activity android:name=".Activity4_17"/>
        <activity android:name=".Activity4_18">
        </activity>
    </application>

</manifest>